<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Welcome! <%= name %></p>
        <div><a href="/login">login</a> &emsp; <a href="/join">sign up</a></div>
        <div><a href="/logout">logout</a></div>
    </body>
</html>
