<!DOCTYPE html>
<html>
    <head>
        <title>main</title>
    </head>
    <body>
        <h1>main page</h1>

        <h3>welcome, <%= id %>번째 가입 고객님!!</h3>

        <p>Lorem ipsum dollar</p>

        <img src="images/cardslash.gif" alt="cardslash" widtth=" 300px;" />
    </body>
</html>
